@using X.PagedList
@using X.PagedList.Mvc
@{
    Layout = "_layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>时间</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in ViewBag.paged)
        {
            <tr>
                <td>@article.Title</td>
                <td>@article.Content</td>
                <td style="width: 100px">@article.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)ViewBag.paged, page => Url.Action("Index", new { page }))